<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="post" action="">
        <fieldset>
            <legend>Add Employee</legend>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="EmpName" value=""></td>    
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" name="EmpPhone" value=""></td>
                </tr>
                <tr>
                    <td>Adress:</td>
                    <td><input type="text" name="EmpAddress" value=""></td>
                </tr>
                 <tr>
                    <td>Gender:</td>
                    <td>
                        <select name="EmpGender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                 <tr>
                    <td>Designation:</td>
                    <td>
                        <select name="EmpDesingation">
                            <option value="engineer">Engineer</option>
                            <option value="manager">Manager</option>
                            <option value="hr">Human Resources</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" name="addEmp" value="Add Employee"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>
</html>